body {
    text-align: center;
}

table {
    margin: 0 auto;
}

#content {
    background-color: blue;
}

.data-table {
    text-align: left;
    font-size: x-large;
}

.cntr-content {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}